In [1]:
import numpy as np
import pandas as pd

In [3]:
%cd ../data

D:\DATA SCIENCE\backend-MovieRecsys\data

In [4]:
names = pd.read_csv("names.csv")

In [5]:
movies = pd.read_csv("movies.csv")

In [10]:
movie_dict={}
for i in movies.index:
    movie_dict[movies['tconst'][i]] = movies['weight_average'][i]

In [11]:
len(movie_dict)

6000

In [27]:
ans = 0
l = {}
for i in names.index:
    m = names['knownForTitles'][i]
    m = m.split(",")
    s = 0 
    for k in m:
        try:
            s+= float(movie_dict[k]) 
        except:
            s+=0
    s = s/len(m)
    if(s>7):
        ans+=1
        l[i] = names.iloc[i]
n = pd.DataFrame.from_dict(l,orient="index",columns = names.columns)
n.head()

,Unnamed: 0,nconst,primaryName,knownForTitles
20,20,nm0029244,victor andré,tt0000417
21,21,nm1215996,brunnet,tt0000417
138,138,nm0000634,peter sellers,"tt0075066,tt0057012,tt0078841,tt0057413"
170,170,nm0074788,henry bergman,"tt0021749,tt0018773,tt0015864,tt0027977"
293,293,nm0325444,john golden,"tt0096463,tt0109348,tt0103939,tt0138304"

In [36]:
n = n.reset_index().drop(['index','Unnamed: 0'],axis=1)
n

         nconst         primaryName                           knownForTitles
0     nm0029244        victor andré                                tt0000417
1     nm1215996             brunnet                                tt0000417
2     nm0000634       peter sellers  tt0075066,tt0057012,tt0078841,tt0057413
3     nm0074788       henry bergman  tt0021749,tt0018773,tt0015864,tt0027977
4     nm0325444         john golden  tt0096463,tt0109348,tt0103939,tt0138304
...         ...                 ...                                      ...
6076  nm1239705  cecelia antoinette  tt0203259,tt0439100,tt1612774,tt1068680
6077  nm5494360      hayley perkins  tt0433035,tt1483013,tt1731141,tt3450958
6078  nm0859311       oliver thomas  tt0133240,tt0230011,tt3794354,tt0892769
6079  nm0072715       michael bentt  tt0248667,tt0329717,tt0405159,tt0369339
6080  nm0877757      melanie turner  tt0134847,tt0120737,tt0167260,tt0167261

[6081 rows x 3 columns]

In [14]:
names.head()

,Unnamed: 0,nconst,primaryName,knownForTitles
0,0,nm0005690,william k.l. dickson,"tt0219560,tt1496763,tt1428455,tt0308254"
1,1,nm0721526,émile reynaud,"tt0413219,tt2184201,tt2184231,tt0000003"
2,2,nm5442194,julien pappé,tt0000003
3,3,nm0443482,charles kayser,tt0000005
4,4,nm0653042,john ott,tt0000005

In [37]:
n.to_csv("small_names.csv")