In [10]:
!jt -t grade3

## Recommender Functions
- Our recommender is based on the recommendations generated through the cosine similarity scores
- The Count Vectorizer is applied on :
    - genre
    - cast
    - is adult
    - directors
    - title type 
    - release year

In [1]:
import numpy as np
import pandas as pd 
import feather as feather 
import random as random 
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
from operator import itemgetter
from rapidfuzz import process

In [2]:
%cd "Final DATA"

[WinError 2] The system cannot find the file specified: 'data'
D:\DATA SCIENCE\backend-MovieRecsys\Data Processing

In [12]:
def get_data():
    ''' Returns movie and names dataframes 
    NOTE: See to it that the directory names are 
    handled properly'''
    %cd "Final DATA"
    movies = feather.read_dataframe("feather/movies")
    names = feather.read_dataframe("feather/names")
    #replace spaces to make it easier to search
    movies = movies[:6000]
    movies['cast'] = movies.cast.apply(lambda x: str(x.replace(" ","")))
    movies['primaryTitle'] = movies.primaryTitle.apply(lambda x: str(x.replace(" ","")))
    for k in ".:!?&-":
        movies['primaryTitle'] = movies.primaryTitle.apply(lambda x: str(x.replace(k,"")))
    # make the cast shorter > just take first 4 and remove the extra "" and []
    movies['cast'] = movies.cast.apply(lambda x: str(x.split(",")[:5]).replace("\"","")[1:-1])
    
    #make the director name as a sinle name ( like in TV series more than 1)
    movies['director_name'] = movies['director_name'].apply(lambda x: str(x.split(",")[:1]).replace("\"","")[1:-1])
    movies['director_name'] = movies['director_name'].apply(lambda x: str(x.replace(" ","")))
    return movies,names

In [14]:
movies , name = get_data()

[WinError 2] The system cannot find the file specified: 'Final DATA'
D:\DATA SCIENCE\Movie_Recommendation_System\Final DATA

In [22]:
name.head()

      nconst           primaryName                           knownForTitles
0  nm0005690  william k.l. dickson  tt0219560,tt1496763,tt1428455,tt0308254
1  nm0721526         émile reynaud  tt0413219,tt2184201,tt2184231,tt0000003
2  nm5442194          julien pappé                                tt0000003
3  nm0443482        charles kayser                                tt0000005
4  nm0653042              john ott                                tt0000005

In [15]:
movies.head()

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,genres,directors,weight_average,cast,director_name
0,tt0111161,movie,theshawshankredemption,0,1994,\n,drama,nm0001104,9.209958,"'morganfreeman', 'timrobbins', 'williamsadler'...",'frankdarabont'
1,tt0468569,movie,thedarkknight,0,2008,\n,"action,crime,drama",nm0634240,8.921540,"'michaelcaine', 'christianbale', 'aaroneckhart...",'christophernolan'
2,tt1375666,movie,inception,0,2010,\n,"action,adventure,sci-fi",nm0634240,8.722421,"'leonardodicaprio', 'kenwatanabe', 'josephgord...",'christophernolan'
3,tt0137523,movie,fightclub,0,1999,\n,drama,nm0000399,8.714213,"'bradpitt', 'edwardnorton', 'zachgrenier', 'me...",'davidfincher'
4,tt0944947,tvseries,gameofthrones,0,2011,2019,"action,adventure,drama","nm0755261,nm0638354,nm0851930,nm0336241,nm0787...",9.181493,"'iainglen', 'lenaheadey', 'nikolajcoster-walda...",'danielsackheim'

In [5]:
movies.iloc[120]

tconst                                                    tt2395427
titleType                                                     movie
primaryTitle                                    avengersageofultron
isAdult                                                           0
startYear                                                      2015
endYear                                                          \n
genres                                      action,adventure,sci-fi
directors                                                 nm0923736
weight_average                                              7.28612
cast              'robertdowneyjr.', 'chrisevans', 'markruffalo'...
director_name                                          'josswhedon'
Name: 120, dtype: object

## Basis of model 
- **Count Vectorizer and Cosine Similarity** between pairs of movies 
- Movies are sorted on the basis of product of weighted_rating and similarity_score and out of the top 20, from each genre, any 4, at random are returned through the API 
- Let us start

In [18]:
k = movies['titleType']+movies['startYear'].astype('str')+movies['genres'].apply(lambda x:str(x*2)) + movies['director_name'].apply(lambda x:str(x*3))+movies['cast'].apply(lambda x:str(x*3))

In [19]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 1),min_df=0, stop_words='english')
count_matrix = count.fit_transform(k)

In [20]:
cosine = linear_kernel(count_matrix,count_matrix)

# Function Structure 
- Let us think of the query types we can have -
    - For genre based recommendations I shall have the top movies corresponding to each genre stored in a list, if the QUERY parameter is present in genre list, then get the recommendation from that genre 
    - For movie based recommendation, I shall have the cosine similarity value stored in a similarity.npy file. It will be read corresponding to a movie and relevant recommendations would be made.
    - If the query is of the type actor, HOW DO I KNOW THAT ? Well, if the query is not found in my movie database , then the search query must be of the type name. For that I have the FAMOUS FOR dataset. 
    - I will load the **famous_for** dataset, get the famous movie names from those movie IDs, make the recommendation for those movies and then return the recommendations for my query.

### Major Change 
- I shall be using **Levenshtein Distance** as a metric to refine my query 
- What does it calculate? 
- It calculates how similar two strings that are being processed are
- Using **process** function in fuzzywuzzy library of python which finds the most similar string out of a vector of strings.

In [135]:
movies.to_feather("feather/movies")
movies = feather.read_dataframe("feather/movies") 
movies.head()

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,genres,directors,weight_average,cast,director_name
0,tt0111161,movie,theshawshankredemption,0,1994,\n,drama,nm0001104,9.209958,"'morganfreeman', 'timrobbins', 'williamsadler'...",'frankdarabont'
1,tt0468569,movie,thedarkknight,0,2008,\n,"action,crime,drama",nm0634240,8.921540,"'michaelcaine', 'christianbale', 'aaroneckhart...",'christophernolan'
2,tt1375666,movie,inception,0,2010,\n,"action,adventure,sci-fi",nm0634240,8.722421,"'leonardodicaprio', 'kenwatanabe', 'josephgord...",'christophernolan'
3,tt0137523,movie,fightclub,0,1999,\n,drama,nm0000399,8.714213,"'bradpitt', 'edwardnorton', 'zachgrenier', 'me...",'davidfincher'
4,tt0944947,tvseries,gameofthrones,0,2011,2019,"action,adventure,drama","nm0755261,nm0638354,nm0851930,nm0336241,nm0787...",9.181493,"'iainglen', 'lenaheadey', 'nikolajcoster-walda...",'danielsackheim'

# Recommenders

## Make genre based

In [24]:
def get_genres():
    genre = set()
    for k in movies['genres']:
        g = k.split(",")
        for i in g:
            genre.add(i)
    return genre 
genre = get_genres()
genre

{'action',
 'adventure',
 'animation',
 'biography',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'film-noir',
 'history',
 'horror',
 'music',
 'musical',
 'mystery',
 'news',
 'reality-tv',
 'romance',
 'sci-fi',
 'short',
 'sport',
 'talk-show',
 'thriller',
 'war',
 'western'}

In [33]:
def recommend_genre(query):
    ''' Recommends movies corresponding to a single 
        genre. Need to add functionality for if 
        more than one genre given'''
    query = query.lower()
    if len(query.split(" ")):
        query = query.split(" ")[0]
    if("sci" in query or "fi" in query):
        query = 'sci-fi'
    if(query not in genre):
        return None
    else:
        # query is a valid genre 
        movie = movies[:3000]
        rec_movie = []
        for i in movie.index:
            k = movie['genres'][i]
            m = movie['primaryTitle'][i]
            w = movie['weight_average'][i]
            if query in k.split(","):
                rec_movie.append([m,w])
        # itemgetter is a way to customize the sort function, gets the second element
        # of the list element
        rec_movie = sorted(rec_movie,key = itemgetter(1),reverse = True)
        rec_movie = rec_movie[:100]
        random.shuffle(rec_movie) # random shuffle
        return sorted(rec_movie[:12],key = itemgetter(1),reverse = True)

In [34]:
recommend_genre("thriller")

[['thesilenceofthelambs', 8.492842754627715],
 ['thedeparted', 8.394287475778519],
 ['thelivesofothers', 8.127184040037752],
 ['northbynorthwest', 8.012912106459414],
 ['taboo', 7.823737989644643],
 ['thebourneidentity', 7.7792203584553725],
 ['wildtales', 7.760728369894116],
 ['gattaca', 7.634764183094699],
 ['theraid2', 7.6132775086115325],
 ['theboondocksaints', 7.608439242815919],
 ['theinsider', 7.5588518154218995],
 ['kahaani', 7.513365546185821]]

## Make Actor based
- Get the knownForTitles for that actor inside the names dataset.
- For those movies or movie, find the recommendations and return the sorted recommendations peratining to those movies

In [36]:
def recommend_movie_actor(query):
    query = query.lower() #transform a bit
    best_match = process.extractOne(query,list(name['primaryName']))
    if best_match[1] < 75: # return if not a good match
        return None
    # get the best matching name from the dataset 
    query = best_match[0]
    print(query)
    # get the movies he/she is famous for 
    df = name.loc[name['primaryName'] == query]
    movie_id = list(df['knownForTitles']) # get movie ids for person
    print(movie_id)
    
    # make ids list of movies
    ids = []
    for k in movie_id:
        m = k.split(",")
        for i in m:
            ids.append(i)
            
    # got ids , now get movie names
    names = []
    for i in movies.index:
        t = movies['tconst'][i] 
        if t in ids:
            names.append(movies['primaryTitle'][i])
        
    a = pd.DataFrame(columns=['primaryTitle','weight_average'])
    for n in names:
        a = a.append(recommend_movies(n)[:4])
    return a.sort_values(by="weight_average",ascending = False)

In [42]:
recommend_movie_actor("Cole SProose")

cole sprouse
['tt5420376,tt6472976,tt0108778,tt0142342']
friends
bigdaddy
riverdale
fivefeetapart

                 primaryTitle  weight_average
868                 uncutgems        7.329989
339                     split        7.277668
1313           punchdrunklove        7.253481
1886       theedgeofseventeen        7.243589
2245  twinpeaksfirewalkwithme        7.238414
593                    scream        7.196656
1506               chasingamy        7.194465
4018            fivefeetapart        7.190969
4018            fivefeetapart        7.190969
4133               cougartown        7.134631
5072   thesuitelifeofzackcody        7.023660
5492              mother'sday        6.830708
5494                    after        6.709519
2376                theswitch        6.661175
1948               thebreakup        6.427668
4427              jackandjill        5.517101

## Make movie based

In [39]:
movie_dict = {}
for i in movies.index:
    movie_dict[movies["primaryTitle"][i]] = i

In [40]:
def recommend_movies(query_string):
    ''' Pre-requisites : query_string must only contain 
    alphabets'''
    ''' Function accepts movie name 
    as query string, first search for 
    it in the movie dictionary I have 
    else find the best match
    If found then try to calculate the
    cosine similarity'''
    query = query_string.lower()
    query = query.replace(" ","")
    query = query.replace("\"","")
    query = query.replace("\'","")
    for k in ".:!?&-":
        query = query.replace(k,"")
    print(query)
    
    # now look for in the movie dict 
    if query not in movie_dict:
        # calculate the levenshtein distance and get the most similar 
        # sounding movie name out of your movie list 
        # rapid fuzz is amazingggggg
        best_match = process.extractOne(query,movie_dict.keys())
        print(best_match)
        if(best_match[1] < 70):
            return None
        query = best_match[0]
    # found the movie in the movie dictionary 
    ind = movie_dict[query]
    sim = cosine[ind] #similarity
    ratings = list(movies['weight_average'])# ratings
    count = 0
    res = []
    for i,k in zip(sim,ratings): # /10 to scale it down
        if(i!=1):
            res.append([count,i*k])
        count+=1
    res = sorted(res,key=itemgetter(1),reverse= True)
    res = res[:12]
    random.shuffle(res)
    d={}
    for k in res:
        I = k[0]
        d[I] = movies.iloc[I]
    df = pd.DataFrame.from_dict(d,orient="index",columns = movies.columns)
    return df[['primaryTitle','weight_average']]

In [208]:
recommend_movies("Avenger Endgame  ")

avengerendgame
('avengersendgame', 96.55172413793103, 76)

                        primaryTitle  weight_average
59                           ironman        7.829021
168                     thorragnarok        7.791934
76                   avengersendgame        8.258953
177                   sherlockholmes        7.537741
130           captainamericacivilwar        7.716699
2364          thehuntsmanwinter'swar        6.660033
272                           zodiac        7.605532
107   captainamericathewintersoldier        7.636485
25                       theavengers        7.938269
3570                      beforewego        7.058283
72               avengersinfinitywar        8.263995
120              avengersageofultron        7.286118

## Working Movie recommender :D